<div class="mt-5 mb-5">
  <div class="d-flex justify-content-between">
    <div>
      <h3 class="font-bold">
        Company Staff
      </h3>
    </div>
    <div class="d-flex">
      <button
        class="btn btn-secondary mr-2"
      >
        Reset
      </button>
      <button
        class="btn btn-primary"
        (click)="openDialogEdit()"
      >
        Add Company Staff
      </button>
    </div>
  </div>
  <div>
    <h5>
      Filter:
    </h5>
    <div class="row">
      <div class="col-3">
        <mat-form-field>
          <mat-label>Search</mat-label>
          <input matInput>
        </mat-form-field>
      </div>
      <div class="col-3">
        <mat-form-field>
          <mat-label>User Type</mat-label>
          <input matInput>
        </mat-form-field>
      </div>
      <div class="col-3">
        <mat-form-field>
          <mat-label>Entity</mat-label>
          <input matInput>
        </mat-form-field>
      </div>
      <div class="col-3">
        <mat-form-field>
          <mat-label>Status</mat-label>
          <input matInput>
        </mat-form-field>
      </div>
    </div>
  </div>

  <div>
    <h5>Staff List</h5>
    <hr>
    <app-company-staff-list></app-company-staff-list>
  </div>
</div>

